/* html */

body {
    font-family: "Arial Pembroke", sans-serif;
    font-size: 1em;
    color: #0C3759;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#heading {
    background-color: #05173D;
    color: #c6c616;
    font-size: 2em;
    text-align: center;
    padding: 10px;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
}

#Header {
    max-width: 100%;
    margin-left: -0.5em;
}

h2 {
    color: #0C3759;
    display: inline;
    margin-left: 0.3em;
    width: 100%;
}

#H2 {
    margin-bottom: 20px;
    margin-top: 10px;
}

H3 {
    text-align: center;
    text-shadow: 1px 1px black;
    font-size: 1em;
    position: absolute;
    top: 12%;
    left: 50%;
    color: #FFFFFF;
    transform: translate(-50%, -50%);
    width: 50%;
    font-weight: 700;
    font-weight: 400;
    text-transform: uppercase;
}

/* filter */

ul {
    list-style: none;
}

#form {
    background-color: #0C3759;
    text-align: center;
    width: 90%;
}

#boven {
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

#onder {
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

li {
    background-color: #FFFFFF;
    margin-top: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: left;
    width: 95%;
    margin-left: -0.6em;
}

.filter {
    margin-top: 0.5em;
    border: 0;
    border-radius: 5px;
    color: #EEE;
    background-color: #70879C;
    font-size: 20px;
    font-weight: bold;
    padding: 0.3em 1em;
    width: 40%;
    -webkit-appearance: none;
    text-align-last: center;
}

#filter {
    background-image: url(../Images/Geelfilter.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 8px;
    left: 20px;
    width: 40px;
    height: 40px;
    border: 0;
}

#sluitfilter {
    background-image: url(../Images/Geelkruis.png);
    background-repeat: no-repeat;
    position: fixed;
    top: 15px;
    left: 25px;
    width: 30px;
    height: 30px;
    border: 0;
}

#sorteer {
    margin-right: 0.5em;
    border-radius: 0.2em;
}

#filterpop {
    margin-left: 0.5em;
    border-radius: 0.2em;
    background: none !important;
}

#filterpop:active {
    background: red;
}

#zoeken {
    border: none;
    background-color: rgb(251, 221, 15);
    width: 80%;
    height: 3em;
    font-size: 1.5em;
    color: #0C3759;
    border-radius: 0.2em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

/* Blok */

fieldset {
    text-align: left;
    border: none;
    background-color: #FFFFFF;
    border-radius: 0.5em;
    width: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
}

article {
    margin-left: -25px;
    margin-bottom: 1em;
    width: 100%;
    max-height: 25em;
    display: block;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 0.5em;
}

#eerste {
    background-color: #91D1DD;
}

#tweede {
    background-color: #B4E0E8;
}

#derde {
    background-color: #D9F0F4;
}

.responsive {
    width: 115%;
    margin-left: -25px;
}

.blinks {
    font-size: 0.9em;
    background-color: #0C3759;
    color: #FFFFFF;
    border-radius: 0.8em;
    border: none;
    padding: 1em;
    display: inline;
    width: 50%;
}

.brechts {
    font-size: 0.9em;
    background-color: #0C3759;
    color: #FFFFFF;
    border-radius: 0.8em;
    border: none;
    padding: 1em;
    display: inline;
    width: 45%;
}

h2 {
    color: #0C3759;
    display: inline;
    margin-left: 0.3em;
    width: 100%;
}

small {
    color: #0C3759;
    width: 100%;
    margin-left: 1em;
}

p {
    font-size: 1em;
    margin-left: 0.5em;
    width: 100%;
}

/*Zoeken*/

.zoek-box {
    position: absolute;
    top: 4%;
    left: 88%;
    transform: translate(-50%, -50%);
    background: #c6c616;
    height: 20px;
    border-radius: 40px;
    padding: 10px;
}
.zoek-box:hover > .zoek-txt {
    width: 80px;
    padding: 0 6px;
}

.zoek-box:hover {
   margin-left: -5px;
}

.zoek-btn {
    color: #0C3759;
    display: flex;
    float: right;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #c6c616;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.zoek-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: #0C3759;
    font-size: 1em;
    transition: 0.5s;
    line-height: 20px;
    width: 0px;
}


/* Media Queries*/

@media only screen and (min-width:32em) {

    H3 {
        font-size: 1em;
        position: absolute;
        top: 15%;
        left: 50%;
    }

    #form {
        text-align: center;
        width: 50%;
    }
}

@media only screen and (min-width:65em) {

    H3 {
        font-size: 2em;
        position: absolute;
        top: 25%;
        left: 50%;
        width: 50%;
    }

    #form {
        text-align: center;
        width: 40%;
    }
}
