/* html */

body {
    font-family: "Arial Pembroke", sans-serif;
    font-size: 1em;
    color: #0C3759;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#heading {
    background-color: #05173D;
    color: #c6c616;
    font-size: 2em;
    text-align: center;
    padding: 10px;
    margin-top: -10px;
    margin-left: -30px;
    margin-right: -30px;
}

#Headerimg {
    width: 110.5%;
    margin-left: -0.5em;
}

h2 {
    color: #0C3759;
    display: inline;
    margin-left: 0.3em;
    width: 100%;
}

#H2 {
    text-align: center;
    margin-left: -8px;
    margin-bottom: 20px;
    margin-top: 10px;
}

H3 {
    text-align: center;
    text-shadow: 1px 1px black;
    font-size: 1.em;
    position: absolute;
    top: 14%;
    left: 50%;
    color: #FFFFFF;
    transform: translate(-50%, -50%);
    width: 50%;
    font-weight: 700;
    font-weight: 400;
    text-transform: uppercase;
}

/* filter */

fieldset {
    margin: 0 auto;
    text-align: left;
    border: none;
    background-color: #FFFFFF;
    border-radius: 0.5em;
    margin-top: 10px;
    margin-bottom: 10px;
}


ul {
    list-style: none;
}

#form {
    background-color: #0C3759;
    text-align: center;
    width: 90%;
}

#boven {
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

#onder {
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

li {
    background-color: #FFFFFF;
    margin-top: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: left;
    width: 95%;
    margin-left: -0.6em;
}

.filter {
    margin-top: 0.5em;
    border: 0;
    border-radius: 5px;
    color: #EEE;
    background-color: #70879C;
    font-size: 20px;
    font-weight: bold;
    padding: 0.3em 1em;
    width: 40%;
    -webkit-appearance: none;
    text-align-last: center;
}

#filter {
    background-image: url(../Images/Geelfilter.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 8px;
    left: 20px;
    width: 40px;
    height: 40px;
    border: 0;
}

#sluitfilter {
    background-image: url(../Images/Geelkruis.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 15px;
    left: 25px;
    width: 30px;
    height: 30px;
    border: 0;
}

#sorteer {
    margin-right: 0.5em;
    border-radius: 0.2em;
}

#filterpop {
    margin-left: 0.5em;
    border-radius: 0.2em;
    background: none !important;
}

#zoeken {
    border: none;
    background-color: rgb(251, 221, 15);
    width: 80%;
    height: 3em;
    font-size: 1.5em;
    color: #0C3759;
    border-radius: 0.2em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

/* Blok */

article {
    margin-left: -8px;
    margin-bottom: 1em;
    width: 100%;
    max-height: 25em;
    max-width: 25em;
    padding-bottom: 0.5em;
}

#eerste {
    background-color: #91D1DD;
}

#tweede {
    background-color: #B4E0E8;
}

#derde {
    background-color: #D9F0F4;
}

.responsive {
    width: 115.5%;
    margin-left: -25px;
}

h2 {
    color: #0C3759;
    display: inline;
    margin-left: 1em;
    width: 100%;
}

small {
    color: #0C3759;
    width: 100%;
    margin-left: 0.5em;
}

p {
    font-size: 1em;
    margin-left: 1.55em;
    width: 86%;
}

.blinks {
    font-size: 0.9em;
    background-color: #0C3759;
    color: #FFFFFF;
    border-radius: 0.8em;
    border: none;
    display: inline;
    width: 40%;
    margin-left: 1.55em;
    margin-right: 1.9em;
    padding: 0.5em;
}

.brechts {
    font-size: 0.9em;
    background-color: #0C3759;
    color: #FFFFFF;
    border-radius: 0.8em;
    border: none;
    display: inline;
    width: 40%;
    padding: 0.5em;
}

/*Zoeken*/

.zoek-box {
    position: absolute;
    top: 4.5%;
    left: 90%;
    transform: translate(-50%, -50%);
    background: #c6c616;
    height: 20px;
    border-radius: 40px;
    padding: 10px;
}

.zoek-box:hover > .zoek-txt {
    width: 70px;
    padding-left: 10px;
}

.zoek-box:hover > .zoek-btn {
    margin-top: -18px;
}

.zoek-btn {
    color: #0C3759;
    display: flex;
    float: right;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #c6c616;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.zoek-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: #0C3759;
    font-size: 1em;
    transition: 0.5s;
    line-height: 20px;
    width: 0px;
}

/* Download button */

.download {
    margin-left: 20px;
    padding: 5px;
    background: none;
}

#download {
    background-color: #0C3759;
    color: white;
    padding: 10px;
    padding-right: 30px;
    border: none;
    border-radius: 5px;
}

.download-btn {
    background-color: #0C3759;
    color: white;
    padding: 7.5px;
    border-radius: 5px;
    margin-left: -35px;
}

.download:hover > .download-btn {
    color: yellow;
}

.download:hover > #download {
    color: yellow;
}

/*Moe verhaal*/

#achtergrond {
    background-image: no-repeat;
    position: absolute;
    width: 320%;
    height: 220%;
    left: -125%;
    top: 8%;
}

#verhaal {
    margin: 0;
    color: white;
    z-index: 1;
}

#verhaal1 {
    color: white;
    z-index: 1;
}

#verhaal11 {
    position: absolute;
    top: 8.9%;
    left: 2%;
    color: white;
    z-index: 1;
}

#verhaal2 {
    color: white;
    z-index: 1;
    opacity: 0.6;
}

#verhaal21 {
    position: absolute;
    top: 55.5%;
    left: 2.5%;
    color: white;
    z-index: 1;
    opacity: 0.6;
}

#verhaal3 {
    color: white;
    z-index: 1;
    opacity: 0.3;
}

#verhaal31 {
    position: absolute;
    top: 123.8%;
    left: 3%;
    color: white;
    z-index: 1;
    opacity: 0.3;
}


/* Media Queries*/

@media only screen and (min-width:32em) {

    /*Bovenkant*/
    H3 {
        font-size: 2em;
        position: absolute;
        top: 14%;
    }

    .zoek-box {
        left: 93%;
        margin-top: -18px;
    }

    /*Filter pagina*/
    #form {
        width: 50%;
    }

    /*Onderkant*/
    section {
        margin: 0 auto;
    }

    article {
        display: inline-block;
        margin-right: 0;
        margin-bottom: 1em;
        width: 26%;
        max-height: 25em;
        max-width: 25em;
        padding-left: 25px;
        padding-right: 30px;
        padding-bottom: 0.5em;
    }

    .responsive {
        width: 128%
    }

    h2 {
        margin-left: -10px;
    }

    p {
        margin-left: -9px;
        width: 105%;
    }

    #eerste {
        background-color: #B4E0E8;
    }

    #tweede {
        background-color: #91D1DD;
    }

    #derde {
        background-color: #B4E0E8;
    }

    .download {
        margin-left: -15px;
        padding: 5px;
        background: none;
    }
    .download-btn {
        padding: 5px;
    }
    /*Moe verhaal*/
    @media only screen and (min-width:65em) {

        /*Bovenkant*/
        H3 {
            font-size: 3em;
            position: absolute;
            top: 25%;
            left: 50%;
            width: 50%;
        }

        #Headerimg {
            height: 350px;
        }
        .zoek-box {
            left: 93%;
            margin-top: -9px;
        }
        .zoek-box:hover > .zoek-txt {
            width: 140px;
            padding: 0 6px;
        }

        .zoek-box:hover > .zoek-btn {
            margin-top: -18px;
        }

        /*Filter*/
        #form {
            text-align: center;
            width: 40%;
        }
        /*Onderkant*/
        .responsive {
            width: 115.5%;
        }
        /*Moe verhaal*/
    }
